html, body, table {
    padding: 0;
    margin: 0;
}

.container {
    margin: 10px 25px;
}

table {
    margin: 0 auto;
    background-color: rgb(6, 87, 192);
    border: 1px solid;
}


td {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
}

.red {
     background-color: red;
}

.yellow {
    background-color: yellow;
}

h1 {
    position: absolute;
}